{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>{{Title}}</title>
  <script src="{% static 'map_data/mapdata.js' %}"></script>
  <script src="{% static 'map_data/statemap.js' %}"></script>
  <style>
    .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  orientation: vertical
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #0a6386;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0a6386;
  cursor: pointer;
}
  </style>
</head>
<body scroll="no" style="overflow: hidden" id="mainbody_inindex">
  <div style="background-color: #e3f2fd;">
    <h1 class="text-center">Predictive Map of COVID-19 Cases in NJ Using an Adaptive SIR Model</h1>
  </div>
  <div class="container" id="mainContainer">
    <div class="row justify-content-center">
      <div class="column col-6">
        <div id="map" class="ml-3"></div>
      </div>
  
      <div class="column col-6">
        <div class="row">
          <div class="column col-12 justify-content-center">
            <div class="slidercontainer">
              <input type="range" orient="vertical" min="0" max="200" value="0" class="slider" id="myRange">
            </div>
          </div>
          <div class="column col-12 justify-content-center">
            <h3 id="date" class="text-center">3/24/2020</h3>
          </div>
        </div>
        <div id="math_description">
          <div class="column col-12 mt-4">
            <h2 class="text-center">About the Model</h2>
            <p>
              This simple visualization shows the temporal and spatial disparities of the COVID-19 pandemic throughout the state of 
              New Jersey. By using the scrollbar provided above, you can navigate through past, present, and potential future landscapes of the state.
              We utilized <a href="https://enigmaforensics.com/covid-19/us/state/NewJersey_Cases_Delta_By_Date.csv">open data</a> to both render the image shown on the left 
              and to develop a model for the the disease kinetics. <br><br>
              We adapted the <a href="https://academic.oup.com/bmb/article/92/1/33/333536">SIR model</a>, an epidemiological compartmental model, to predict future COVID-19 cases.
              The model considers population dynamics in terms of rates and rate constants, and computationally can be solved by treating the system as a system of 
              ordinary differential equations. <br><br>
              To adapt this model to our project, we applied  least-squares regression on the system of ODEs before numerically solving for the predicted cases in each county. 
              <br><br>
              The state diagram shows density of covid-19 cases in each county. The intensity of the color red
              is directly proportional to the intensity of covid-19 cases in the county. Hovering over a county will
              display a pop-up with the actual case count. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app">
  
  </div>
  </body>
<script src="{% static 'frontend/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  
  
  
  
  
  
  
</script>
<script>
  var slider = document.getElementById("myRange");
  var slider_output = document.getElementById("date");
  var map = document.getElementById("mainbody_inindex");
  var mastercontrol = [];

  Date.prototype.addDays = function(days) {
    this.setDate(this.getDate() + parseInt(days));
    return this;
  };
  var the_date = new Date("3/24/2020"); 

  function standardize(x){
    let toBeReturned = 0;
    if(x>0){
      toBeReturned = x/6000
    }
    if(toBeReturned>1){
      toBeReturned = 1;
    }

    if(toBeReturned<0){
      toBeReturned = 0;
    }

    return (Math.floor(toBeReturned*200)+20);
  }

// we'll stick in the http reqs and get the data
  /**
   * @type {[][]} imported_cases 
   */
  var imported_cases={{Cases}}; // 21x181
  var imported_mean={{Mean}};
  var imported_std={{STD}};
  //standardize the array numbers:
  var mean = imported_mean;
  var std = imported_std;
  var randomarr = [];
  
  /** @type {[]} initialArr */
  let initialArr = [];
  for(let i=0;i<21;i++) {
    initialArr[i] = imported_cases[i][0];
  }

  /** @type {[][]} slidingArr */ 
  let slidingArr = [];
  for(let i=0;i<21;i++){
    slidingArr.push([]);
    for(let j=1;j<181;j++){
      slidingArr[i].push(imported_cases[i][j]);
    }
  }


  function setColor(intensity){

    intensity = standardize(intensity);

    let greenNblueOffset = 100;
    let greenNblue = 255 - intensity ;
    let blue = 0;
    let red = 255;

    //if(greenNblue >= 255) greenNblue = 70;
    console.log(intensity + '   :   ' + greenNblue);

    let toBeReturned = `rgba(${red},${greenNblue},${greenNblue})`;
    return toBeReturned;
  }

  for(let i=0;i<21;i++){
    randomarr.push(standardize((Math.floor(Math.random()*10))));
  }

  function updateAllCounties(){
    //set up control array
    let controlJson = simplemaps_statemap_mapdata.state_specific;
    mastercontrol.push(controlJson["34001"]);
    mastercontrol.push(controlJson["34003"]);
    mastercontrol.push(controlJson["34005"]);
    mastercontrol.push(controlJson["34007"]);
    mastercontrol.push(controlJson["34009"]);
    mastercontrol.push(controlJson["34011"]);
    mastercontrol.push(controlJson["34013"]);
    mastercontrol.push(controlJson["34015"]);
    mastercontrol.push(controlJson["34017"]);
    mastercontrol.push(controlJson["34019"]);
    mastercontrol.push(controlJson["34021"]);
    mastercontrol.push(controlJson["34023"]);
    mastercontrol.push(controlJson["34025"]);
    mastercontrol.push(controlJson["34027"]);
    mastercontrol.push(controlJson["34029"]);
    mastercontrol.push(controlJson["34031"]);
    mastercontrol.push(controlJson["34033"]);
    mastercontrol.push(controlJson["34035"]);
    mastercontrol.push(controlJson["34037"]);
    mastercontrol.push(controlJson["34039"]);
    mastercontrol.push(controlJson["34041"]); // i can't believe i just did this
    
    //do some work on this mastercontrol list:
    let parallelIndex = 0;
    mastercontrol.map(x=>{
      let countyColor = setColor(initialArr[parallelIndex]);
      x["color"] = countyColor;
      x["description"] = "Cases: " + initialArr[parallelIndex];
      parallelIndex++;
    })

    simplemaps_statemap.refresh();
    console.log(imported_cases);
  }


  //slider based functions:
  //function to get to new values:
  /**
   * @param {Array} controlArr
   * @param {[][]} dataArr
  */
  function progressedVal(index,controlArr,dataArr){
    let parallelIndex = 0;
    controlArr.map(x=>{
      x.description = "Estimated Cases: " + dataArr[parallelIndex][index];
      x.color = setColor(dataArr[parallelIndex][index]);
      parallelIndex++;
    });
  }

  //radom data for slider:
  let rs = [];
  for(let i=0;i<21;i++){
    rs.push([]);
    for(let j=0;j<180;j++){
      rs[i].push(standardize(Math.floor(Math.random()*10)));
    }
  }

  function uponSliderAdjustments() {
    var valueAdjustedTo180 = Math.floor((this.value) * 0.9);
    var now_date=new Date('3/24/2020').addDays(this.value);
    var month=now_date.getMonth()+1;
    var day=now_date.getDate();
    var year=now_date.getYear();
    slider_output.innerHTML=month+"/"+day+"/"+"2020";
    simplemaps_statemap_mapdata.state_specific["34001"]["description"]="hello"+this.value
    progressedVal(valueAdjustedTo180,mastercontrol,slidingArr);
    simplemaps_statemap.refresh()
  }



  map.onload = updateAllCounties;
  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = uponSliderAdjustments;
</script>
</html>